

{% extends 'client/basetemplate.html' %}
{% load static %}
{% block body %}        
      <div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Todays Dalivery</h2></div>
      
      <div class="container mt-5">
          <div class="row">
              <div class="col-md-12 d-grid cover">
                  
                  <img class="img-thumbnail mt-2" src="{% static 'client/2.png' %}" style = "max-width: 35vh; max-height: 35vh;"alt="">
                    <h3 class="text-white">{{user.name}}</h3>
              </div>
              
          </div>
          <div class="row">
             
              <div class="col-md-8">
                <table class="table table-striped">
                    
                    <tbody>
                      <tr>
                        <th scope="col">1</th>
                        <th>Number</th>
                        <td>{{user.number}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="col">2</th>
                        <th>Address</th>
                        <td>{{user.address}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="col">3</th>
                        <th>whatsaap Number</th>
                        <td>{{user.whatsaap_number}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="col">3</th>
                        <th> Full profile</th>
                        <td><a href=""><button class="btn btn-primary btn-outline-primary">Click Here</button></a> </td>
                        
                      </tr>
                    </tbody>
                  </table>


              </div>

            
            </div>
            
          
      </div>
      <div class="container">
        <div class="row justify-content-between ">
                
            <div class="col-md-3 mt-3 colm"> 
                <h3>Total Amount</h3>
                <p>{{tamount}}</p>
            </div>
            <div class="col-md-3 mt-3 colm">
                <h3>Total Users</h3>
                <p>{{torder}}</p>
            </div>
            <div class="col-md-3 mt-3 colm">
                <h3>Membership</h3>
                <p>{{tmember}}</p>
            </div>
        </div>
      </div>


      <div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Todays Dalivery</h2></div>
      
      <div class="container mt-5">
          <div class="row">
              <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        
                        <th scope="col">Amount</th>
                        <th scope="col">Quantity</th>
                      
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in order %}
                      <tr>
                        <td>{{i.amount}}</td>
                        <td>{{i.quantity}}</td>
                        <td>{{i.status}}</td>

                       
                        <td><a href=""><button class="btn btn-sm btn-outline-success" type="button" >Update</button> </a> <a href="/delivery/orderdetails/{{i.id}}/"> <button class="btn btn-sm mt-2 btn-outline-success">View</button></a></td>
                      </tr> 
                      {% endfor %}
                      </tbody>
                      </table>

      {% endblock %}
     
       