

{% extends 'client/basetemplate.html' %}
{% load static %}
{% block style %}
<style>
  .usr{
    background-image: url("{% static 'milk/3.png' %}"), linear-gradient(0deg,rgb(57, 221, 250) 55%, rgb(8, 192, 192) 50%)  !important;
    background-size:300px 200px;
    background-blend-mode: color-burn;
     background-position-y: center;
    
}
.para{
    position: absolute;
    bottom: 3px;
    font-size: 60px;
    font-weight: 1000;
}
           .colm{
    height: 168px;
    width: 50vh;
    
        background-image: linear-gradient(0deg,rgb(57, 221, 250) 55%, rgb(4, 230, 230) 50%);
   
}
</style>

{% endblock %}
{% block body %}        
      
      <div class="container mt-5">
          <div class="row">
              <div class="col-md-12 d-grid cover">
                  
                  <img class="img-thumbnail mt-2" src="{% static 'client/2.png' %}" style = "max-width: 35vh; max-height: 35vh;"alt="">
                    <h3 class="text-white">{{user.name}}</h3>
              </div>
              
          </div>
          <div class="row">
             
              <div class="col-md-8">
                <table class="table table-striped">
                    
                    <tbody>
                      <tr>
                        <th scope="col">1</th>
                        <th>Number</th>
                        <td>{{user.number}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="col">2</th>
                        <th>Address</th>
                        <td>{{user.address}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="col">3</th>
                        <th>whatsaap Number</th>
                        <td>{{user.whatsaap_number}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="col">3</th>
                        <th> Full profile</th>
                        <td><a href="/user/profile"><button class="btn btn-primary btn-outline-primary">Click Here</button></a> </td>
                        
                      </tr>
                    </tbody>
                  </table>


              </div>

            
            </div>
            
          
      </div>
      <div class="container">
        <div class="row justify-content-between ">
                
           <a href="/user/neworder"><div class="col-md-12 mt-3 colm usr"> 
                <h3 class=""> Place order</h3>
                
            </div></a> 
            <a href="/user/orderupdate">
            <div class="col-md-12 mt-3 colm usr">
                <h3 class="">Update Orders</h3>
                
            </div>
          </a>
            <a href="/user/orders"><div class="col-md-12 mt-3 colm usr">
                <h3>View Orders</h3>
                
            </div>
          </a>
        </div>
      </div>


      <div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Todays Delivery</h2></div>
      
      <div class="container mt-5">
          <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        
                        <th scope="col">Amount</th>
                        
                      
                        <th scope="col">quantity</th>
                        <th scope="col">status</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in order %}
                      <tr>
                        <td>{{i.amount}} ₹</td>
                        <td>{{i.quantity}} L</td>
                        
                        <td>{{i.status}}</td>

                       
                      </tr> 
                      {% endfor %}
                      </tbody>
                      </table>

      {% endblock %}
     
       