{% extends 'client/baseTemplate.html' %}

{% load static %}

{% block body %}

<div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Your Orders</h2></div>


<table class="table table-striped mt-2">
    <thead>
      <tr>
        
        <th scope="col">date</th>
        
        <th scope="col">A/Q</th>
       
        <th scope="col">Action </th>
      </tr>
    </thead>
    <tbody>
     {% for i in orders %}
      <tr>
        
       
      
        <td>{{i.month.months}} {{i.day.date}}</td>
        <td>{{i.amount}} ₹ /{{i.quantity}}L</td>
       
       
        <td><a href="/user/orderupdate/{{i.id}}"><button class="btn btn-sm btn-outline-warning">update</button></a> <a><button class="btn mt-2 btn-sm btn-outline-danger">Delete</button></a></td>

        
        
        
      </tr>
      {% endfor %}
     </tbody>
     </table>
{% endblock %}