{% extends 'client/baseTemplate.html' %}

{% block body %}
<div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Your Orders</h2></div>


<table class="table table-striped mt-2">
    <thead>
      <tr>
        
        <th scope="col">date</th>
        
        <th scope="col">A/Q</th>
        
        <th scope="col">status</th>
        
        

       
      </tr>
    </thead>
    <tbody>
      {% for i in orders %}
     
      <tr>
        
       
      
        <td>{{i.month.months}} {{i.day.date}}</td>
        <td>{{i.amount}}/{{i.quantity}}L</td>
       
        
        <td>{{i.status}}</td>

        
        
        
      </tr>
      
     {% endfor %}
      
      
    </tbody>
  </table>

{% endblock %}