{% extends 'client/baseTemplate.html' %}

{% block body %}
<div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Your Orders</h2></div>


<table class="table table-striped mt-2">
    <thead>
      <tr>
        
        <th scope="col">month</th>
        
        <th scope="col">Amount</th>
        <th scope="col">Quantity</th>
        <th scope="col">status</th>
        
        

       
      </tr>
    </thead>
    <tbody>
     
      <tr>
        
       
      
        <td>March</td>
        <td>100</td>
       
        <td>Out for delivery</td>
        <td>chh</td>

        
        
        
      </tr>
      
      <tr>
       
   
        <td>March</td>
        <td>100</td>
       
        <td>Out for delivery</td>
        <td>chh</td>

        
        
        
      </tr>
      
      <tr>
      
    
        <td>March</td>
        <td>100</td>
       
        <td>Out for delivery</td>
        <td>chh</td>

        
        
        
      </tr>
      
      
    </tbody>
  </table>

{% endblock %}