{% extends 'client/basetemplate.html' %}

{% block body %}

<div class="d-flex justify-content-start mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Persional</h2></div>

<table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">0</th>
        <th scope = "col"> Name</th>
        <td>Abhishek YAdav</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">1</th>
        <th>Number</th>
        <td>1234567890</td>
        
      </tr>
      <tr>
        <th scope="col">1</th>
        <th>Address</th>
        <td>1234567890</td>
        
      </tr>
      </tbody>
      </table>

      <hr>

      <div class="d-flex justify-content-start mt-3 bg-danger"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Accounts</h2></div>

      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">0</th>
            <th scope = "col"> Email</th>
            <td>Abhishek YAdav</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">1</th>
            <th>Whatsaap number</th>
            <td>1234567890</td>
            
          </tr>
          <tr>
            <th scope="col">1</th>
            <th>Hub</th>
            <td>1234567890</td>
            
          </tr>
          <tr>
            <th scope="col">1</th>
            <th>Password</th>
            <td>1234567890</td>
            
          </tr>
          </tbody>
          </table>

          {% endblock %}
    