{% extends 'client/baseTemplate.html' %}

{% block body %}
<div class="d-flex justify-content-start mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Today's Order</h2></div>

<table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">0</th>
        <th scope = "col"> Delivery Boy</th>
        <td>Abhishek YAdav</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">1</th>
        <th> phone = Number</th>
        <td>1234567890</td>
        
      </tr>
      <tr>
        <th scope="col">1</th>
        <th>Status</th>
        <td>1234567890</td>
        
      </tr>
      </tbody>
      </table>



{% endblock %}