{% extends 'hub/baseTemplate.html' %}

{% block body %}    


<div class="d-flex justify-content-start mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">User Profile</h2></div>

<table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">0</th>
        <th scope = "col"> Name</th>
        <td>{{user.name}}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">1</th>
        <th>Number</th>
        <td>{{user.number}}</td>
        
      </tr>
      <tr>
        <th scope="col">0</th>
        <th scope = "col"> Email</th>
        <td>{{user.users.email}}</td>
      </tr>
     
          <tr>
            <th scope="col">0</th>
            <th scope = "col"> User Name</th>
            <td>{{user.users.username}}</td>
          </tr>
        
          <tr>
            <th scope="col">1</th>
            <th>Whatsaap number</th>
            <td>{{user.whatsaap_number}}</td>
            
          </tr>
          <tr>
            <th scope="col">1</th>
            <th>Hub</th>
            <td>{{user.hub.hub_name}}</td>
            
          </tr>
          
          <tr>
            <th scope="col">1</th>
            <th>Address</th>
            <td>{{user.address}}</td>
            
          </tr>
          </tbody>
          </table>

{% endblock %}