{% extends 'hub/baseTemplate.html' %}

{% block body %}



<table class="table table-striped">
    <thead>
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Date</th>
      
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      {% for i in orders %}
      <tr>
        <td>{{i.user.name}}</td>
        <td>{{i.user.address}}</td>
        <td>{{i.month.months}} {{i.day.date}}</td>
        <td><form class="form-inline" action="" method="post">
            {% csrf_token %}
            <input type="number" name="oid" style="display:none" value="{{i.id}}"><select class="custom-select" name="delivery" id="delivery">
                {% for m in delivery %}
                <option value="{{m.id}}">{{m.name}}</option>
                {% endfor %}
            </select>
            <button class="btn  mt-1 btn-outline-success">Update</button>
        </form></td>

      </tr> 
      {% endfor %}
     
     
    </tbody>
  </table>


{% endblock %}