{% extends 'delivery/deliverybasetemplate.html' %}
{% block style %} <style>
 .ab a{color: black !important ;
  }
  .para{
    position: absolute;
    bottom: 3px;
    font-size: 60px;
    font-weight: 1000;
}
</style> {% endblock %}
{% block body %}

      <div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Todays Delivery</h2></div>
      
      <div class="container mt-5">
          <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                      
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in orders %}
                      <tr>
                        <td class="lnk"><a href="/delivery/orderdetails/{{i.id}}/">{{i.user.name}}</a></td>
                        <td>{{i.user.address}}</td>
                        <td>{{i.status}}</td>

                       
                        <td> <button class="btn btn-sm btn-outline-success" type="button" data-toggle="modal" data-target="#{{i.id}}">Update</button> <a href="/delivery/orderdetails/{{i.id}}/"> <button class="btn btn-sm mt-2 btn-outline-success">View</button></a></td>
                      </tr> 

                      <div class="modal fade" id="{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <form action="" method="post"> {% csrf_token %} <input type="text" id="ordr{{i.id}}" name="ordr"> <select name="status" class="custom-select" id="status" required>
                              <option value="Delivered">Delivered</option>
                              
                        <option value="Undeliverd">Undeliverd</option>
                        <option value="Out fo delivery">Out fo delivery</option>
                              
                          </select> 
                          <script>document.getElementById('ordr{{i.id}}').value = {{i.id}} ;</script>
        
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                     
                     
                    </tbody>
                  </table>


              </div>
              
              </div>
            </div>
              
      <div class="container-fluid">
        <div class="row justify-content-between ">
                
            <div class="col-md-3 mt-3 colm"> 
                <h3>In transit</h3>
                <p class="para">{{transit}}</p>
            </div>
            <div class="col-md-3 mt-3 colm">
                <h3>Out For Delivery</h3>
                <p class="para">{{out}}</p>
            </div>
            <div class="col-md-3 mt-3 colm">
                <h3>Delivered</h3>
                <p class="para">{{delivered}}</p>
            </div>
        </div>
      </div>

              


              
          
     

          {% endblock %}