{% extends 'delivery/deliverybaseTemplate.html' %}

{% block body %}

<div class="row">
             
    <div class="col-md-8">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">0</th>
              <th scope = "col"> Name</th>
              <td>{{order.user.name}}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">1</th>
              <th>Number</th>
              <td>{{order.user.number}}</td>
              
            </tr>
            <tr>
              <th scope="col">2</th>
              <th>Amount</th>
              <td>{{order.amount}}</td>
              
            </tr>
            <tr>
              <th scope="col">3</th>
              <th onclick= "status()">Quantity</th>
              <td>{{order.quantity}}</td>
              
            </tr>
            <tr>
              <th scope="col">3</th>
              <th>status</th>
              <td><form action="" method="POST"> {% csrf_token %} <select name="status" class="custom-select" id="ustatus" required>
                <option value="{{order.status}}" selected>{{order.status}}</option>

                <option value="in transit">in transit</option>
                <option value="delivered">delivered</option>
                <option value="out fo delivery">Out fo delivery</option>
                
            </select> <input type ="checkbox" name="ucheck" id ="updatecheck">  <button class="btn btn-sm mt-2 btn-outline-success" onclick= "status()" type="submit"> update</button> </form> </td>
              
            </tr>
            <tr>
              <th scope="col">3</th>
              <th>Payment</th>
              <td><form action="" method="post"> {% csrf_token %} <select class="custom-select" name="payment" id="pstatus" required>
                <option value="{{order.payment}}" selected>{{order.payment}}</option>

                <option value="Paid">Paid</option>
                <option value="Unpaid">Unpaid</option>
                
                
            </select> <input type ="checkbox" name="pcheck" id ="paymentcheck" >  <button class="btn btn-sm mt-2 btn-outline-success" type="submit"> update</button> </form> </td>
              
            </tr>
          </tbody>
        </table>


    </div>

{% endblock %}


  <script>
    function status() {
    document.getElementById("updatecheck").click();
    }

    function payment() {
    document.getElementById("paymentcheck").click();
    }
    

  </script>
