{% extends 'delivery/deliverybaseTemplate.html' %}

{% block body %}
<div class="d-flex justify-content-center mt-3 bg-danger"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Update Your Profile</h2></div>
<div class="form mt-3">
    <form action="">
        <div class="form-group  col-md-8">
            <label for="name">Name </label>
            <input type="text" id ="name" class="form-control" name="name" value="for change contact hub" placeholder="Enter Name">
        </div>
      <div class="form-group  col-md-8">
            <label for="numbwe">number </label>
            <input type="tell" id ="number" class="form-control" name="number" value="00000000" placeholder="Enter Number">
        </div>  
      <div class="form-group  col-md-8">
            <label for="wnumber"> whatsaap number </label>
            <input type="tell" id ="wnumber" class="form-control" name="wnumber" value="00000000" placeholder="Enter Number">
        </div>  
      <div class="form-group  col-md-8">
            <label for="Address"> vehcle </label>
            <textarea type="text" id ="Address" class="form-control" name="wnumber" value="honda city" placeholder="Enter Number"></textarea>
        </div> 
        <button class="btn btn-danger ml-3" type="submit">Submit</button>
        </form> 

</div>

{% endblock %}