{% extends 'milk/baseTemplate.html' %}
{% block style %}

.colm{
    height: 168px;
    
        background-image: linear-gradient(0deg,rgb(57, 221, 250) 55%, rgb(4, 230, 230) 50%);
   
}
h3{
    color: honeydew;
    font-family: 'poppins','sans-sarif';
}
.colm p{font-size: 1.7em !important;
color: khaki !important ;}
.colm:hover{
    box-shadow: 3px 4px 10px 2px grey;
    transition: all 0.5s;
}
.lnk a{
    color: black;
   
    text-shadow: 2px 2px 5px grey;
    transition: all 0.5s;
  }
  .lnk:hover a{
    color: rgb(48, 48, 168);
    font-weight: bold;
    
  }

{% endblock %}

{% block body %}

<!-- <div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Todays Dalivery</h2></div> -->
      <style>
          .subhead{
    background: rgb(221, 192, 26);
    max-height: 32px;
    
}
.colm{
    height: 168px;
        position: relative;
        background-image: linear-gradient(0deg,rgb(57, 221, 250) 55%, rgb(8, 192, 192) 50%);
   
}
.para{
    position: absolute;
    bottom: 3px;
    font-size: 60px;
    font-weight: 1000;
}
{% load static %}
.usr{
    background-image: url("{% static 'milk/3.png' %}"), linear-gradient(0deg,rgb(57, 221, 250) 55%, rgb(8, 192, 192) 50%)  !important;
    background-size:60vh;
    background-blend-mode: color-burn;
     background-position-y: center;
    
}
      </style>
<div class="container mt-3">
    <div class="row justify-content-between ">
            
        <div class="col-md-3 mt-3 colm"> 
            <h3>Orders</h3>
            <p class="para">{{order}}</p>
        </div>
        <div class="col-md-3 mt-3 colm ">
            <h3>Amount</h3>
            <p class="para">{{amount}}</p>
        </div>
        <div class="col-md-3 mt-3 colm">
            <h3>quantity</h3>
            <p class="para">{{quantity}}</p>
        </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Users</h2></div>

  <div class="container  ">
      <div class="row justify-content-around">
          <div class="col-md-5 d-grid ">
            <div class="d-flex justify-content-center mt-3 subhead "> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Search User</h2></div>
            <div class="colm">
                <form  class="form-group mt-2 pt-5 pl-2 pr-2" action="{% url 'search' %}" method="GET">
                    
                    <input class="form-control mb-3" style="box-shadow: 2px 2px 5px 3px grey;" name="search" type="search" placeholder="Search by number" aria-label="Search">
                    <button class="btn btn-warning mt-3 ml-4 my-sm-0" type="submit">Search</button>
                </form>
            </div>
           

          </div>
          <div class="col-md-5">
            <div class="d-flex justify-content-center mt-3 subhead "> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Create User</h2></div>
           <a href="/dashboard/newuser"><div class="col-md-12 mt-2 colm usr">
                
                
            </div>
        </a> 

          </div>
      </div>
  </div>

  <div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Today's Orders</h2></div>

  <table class="table table-striped">
    <thead>
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Amount/Quantity</th>
        <th scope="col">whatsaap number</th>
        <th scope="col">Hubs</th>
        <th scope="col"> Date of Placement</th>
        

       
      </tr>
    </thead>
    <tbody>
      {% for i in orders %}
      <tr>
        
        <td class="lnk"><a href="/dashboard/user/{{i.user.id}}">{{i.user.name}} </a></td>
        <td>{{i.user.number}}</td>
        <td>{{i.amount}} ₹/{{i.quantity}} L</td>
        <td>{{i.user.whatsaap_number}}</td>
       
        <td>{{i.user.hub.hub_name}}</td>
        <td>{{i.date}}</td>

        
        
        
      </tr>
      {% endfor %}
      
    </tbody>
  </table>




{% endblock %}