{% extends 'milk/baseTemplate.html' %}
{% block style %}
.colm:nth-child(1){
    background:#fc4c72;
}
.colm:nth-child(2){
    background: #659dbd;
}
.colm:nth-child(3){
    background: #daad86;

}
.colm:nth-child(4){
    background: #daad86;}
.colm{
    height: 168px;
}
h3{
    color: honeydew;
    font-family: 'poppins','sans-sarif';
}
.colm p{font-size: 1.7em !important;
color: khaki !important ;}
.colm:hover{
    box-shadow: 3px 4px 10px 2px grey;
    transition: all 0.5s;
}


{% endblock %}

{% block body %}
<!-- <div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Todays Dalivery</h2></div> -->
      <style>
          .subhead{
    background: rgb(221, 192, 26);
    max-height: 32px;
}
      </style>
<div class="container mt-3">
    <div class="row justify-content-between ">
            
        <div class="col-md-3 mt-3 colm"> 
            <h3>Total Amount</h3>
            <p>{{tamount}}</p>
        </div>
        <div class="col-md-3 mt-3 colm">
            <h3>Total Users</h3>
            <p>{{torder}}</p>
        </div>
        <div class="col-md-3 mt-3 colm">
            <h3>Membership</h3>
            <p>{{tmember}}</p>
        </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Users</h2></div>

  <div class="container  ">
      <div class="row justify-content-around">
          <div class="col-md-5 d-grid ">
            <div class="d-flex justify-content-center mt-3 subhead "> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Search User</h2></div>
            <div class="colm">
                <form  class="form-group mt-2 pt-5 pl-2 pr-2" action="{% url 'search' %}" method="GET">
                    
                    <input class="form-control mb-3" style="box-shadow: 2px 2px 5px 3px grey;" name="search" type="search" placeholder="Search by number" aria-label="Search">
                    <button class="btn btn-outline-warning mt-3 ml-4 my-sm-0" type="submit">Search</button>
                </form>
            </div>
           

          </div>
          <div class="col-md-5">
            <div class="d-flex justify-content-center mt-3 subhead "> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Create User</h2></div>
           <a href=""><div class="col-md-12 mt-2 colm">
                <h3>Create</h3>
                <p>{{tmember}}</p>
            </div>
        </a> 

          </div>
      </div>
  </div>

  <div class="d-flex justify-content-center mt-3 bg-warning"> <h2 style="font-family: 'Times New Roman', Times, serif; color: seashell;">Top Orders</h2></div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Quantity</th>
        <th scope="col">Hubs</th>
        <th scope="col"> Date</th>
        

       
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.num}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.quantity}}</td>
       
        <td>{{i.hub_id.hub_name}}</td>
        <td>{{i.date}}</td>

        
        
        
      </tr>
      {% endfor %}
      
    </tbody>
  </table>




{% endblock %}